{{ define "main" }}
  <article class="team team--single">
    <section class="team__details">
      <h1 class="team__title" >{{ .Title }}</h1>
      <div class="team__content" >{{ .Content }}</div>
    </section>
    <dl class="team__metadata">
      <dt>Qualifications:</dt>
      <dd>{{ delimit .Params.qualifications ", " }}</dd>
      <dt>GDC Registration No.:</dt>
      <dd>{{ .Params.gdc_reg_no }}</dd>
      <dt>Roles</dt>
    {{ range (.GetTerms "roles") }}
        <dd><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></dd>
    {{ end }}
    </dl>
  </article>
{{ end }}